<div class="relative overflow-hidden rounded-md shadow dark:shadow-gray-700 bg-white dark:bg-slate-900">
    <div class="p-6 flex items-center justify-between border-b border-gray-100 dark:border-gray-800">
        <h6 class="text-lg font-semibold">Customers by Country</h6>

        <div class="dropdown relative">
            <button class="dropdown-toggle items-center" type="button" (click)="onModalClick()">
                <span class="h-8 w-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-[20px] text-center bg-gray-800/5 hover:bg-gray-800/10 dark:bg-gray-800 border border-gray-800/5 dark:border-gray-800 text-slate-900 dark:text-white rounded-full"><i class="mdi mdi-dots-vertical"></i></span>
            </button>
            <!-- Dropdown menu -->
            <div class="dropdown-menu absolute end-0 m-0 mt-4 z-10 w-44 rounded-md overflow-hidden bg-white dark:bg-slate-900 shadow dark:shadow-gray-700" [ngClass]="isOpen === false ? 'hidden' : '' ">
                <ul class="py-2 text-start">
                    <li class="ms-0">
                        <a routerLink="" class="block font-medium py-1 px-4 text-slate-400 dark:text-white/70 hover:text-slate-900 dark:hover:text-white">Profile</a>
                    </li>
                    <li class="ms-0">
                        <a routerLink="" class="block font-medium py-1 px-4 text-slate-400 dark:text-white/70 hover:text-slate-900 dark:hover:text-white">Profile Settings</a>
                    </li>
                    <li class="ms-0">
                        <a routerLink="" class="block font-medium py-1 px-4 text-slate-400 dark:text-white/70 hover:text-slate-900 dark:hover:text-white">Delete</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="p-6 border-b border-gray-100 dark:border-gray-800">
        <div id="map" class="w-full h-[227px]"></div>
    </div>

    <div class="p-6">
        <ul class="list-none flex">
            <li class="inline-block w-1/2"><span class="text-indigo-600 font-semibold">Canada</span>:<span class="text-slate-400 ms-2">12468</span></li>
            <li class="inline-block w-1/2"><span class="text-indigo-600 font-semibold">Greenland</span>:<span class="text-slate-400 ms-2">12468</span></li>
        </ul>
        <ul class="list-none flex">
            <li class="inline-block w-1/2"><span class="text-indigo-600 font-semibold">Russia</span>:<span class="text-slate-400 ms-2">12468</span></li>
            <li class="inline-block w-1/2"><span class="text-indigo-600 font-semibold">Palestine</span>:<span class="text-slate-400 ms-2">12468</span></li>
        </ul>
    </div>
</div>
