<div class="relative overflow-hidden rounded-md shadow dark:shadow-gray-700 bg-white dark:bg-slate-900">
    <div class="p-6 flex items-center justify-between border-b border-gray-100 dark:border-gray-800">
        <h6 class="text-lg font-semibold">Orders</h6>
        
        <a routerLink="" class="relative inline-block font-semibold tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:transition-all after:duration-500 text-slate-400 dark:text-white/70 hover:text-indigo-600 dark:hover:text-white after:bg-indigo-600 dark:after:bg-white duration-500">View orders <i class="uil uil-arrow-right"></i></a>
    </div>

    <div class="relative overflow-x-auto block w-full max-h-[403px]" data-simplebar>
        <table class="w-full text-start">
            <thead class="text-base">
                <tr>
                    <th class="text-start font-semibold text-[15px] p-4 min-w-[100px]">No.</th>
                    <th class="text-start font-semibold text-[15px] p-4 min-w-[128px]">ID</th>
                    <th class="text-start font-semibold text-[15px] p-4 min-w-[128px]">Date</th>
                    <th class="text-start font-semibold text-[15px] p-4 min-w-[128px]">Price</th>
                    <th class="text-end font-semibold text-[15px] p-4 min-w-[128px]">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of orderData">
                    <th class="text-start border-t border-gray-100 dark:border-gray-800 p-4 font-semibold">{{item.no}}</th>
                    <td class="text-start border-t border-gray-100 dark:border-gray-800 p-4">{{item.id}}</td>
                    <td class="text-start border-t border-gray-100 dark:border-gray-800 p-4">
                        <span class="text-slate-400">{{item.date}}</span>
                    </td>
                    <td class="text-start border-t border-gray-100 dark:border-gray-800 p-4">
                        <span class="text-slate-400">{{item.price}}</span>
                    </td>
                    <td class="text-end border-t border-gray-100 dark:border-gray-800 p-4">
                        <span *ngIf="item.status === 'Delivered'" class="bg-emerald-600/10 dark:bg-emerald-600/20 border border-emerald-600/10 dark:border-emerald-600/20 text-emerald-600 text-[12px] font-bold px-2.5 py-0.5 rounded h-5 ms-1">{{item.status}}</span>
                        <span *ngIf="item.status === 'New Order'" class="bg-indigo-600/10 dark:bg-indigo-600/20 border border-indigo-600/10 dark:border-indigo-600/20 text-indigo-600 text-[12px] font-bold px-2.5 py-0.5 rounded h-5 ms-1">New Order</span>
                        <span *ngIf="item.status === 'Return'" class="bg-red-600/10 dark:bg-red-600/20 border border-red-600/10 dark:border-red-600/20 text-red-600 text-[12px] font-bold px-2.5 py-0.5 rounded h-5 ms-1">Return</span>
                        <span *ngIf="item.status === 'Cancel'" class="bg-gray-500/5 border border-gray-500/5 text-gray-500 text-[12px] font-bold px-2.5 py-0.5 rounded h-5 ms-1">Cancel</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
