<div class="rounded-md shadow dark:shadow-gray-700 bg-white dark:bg-slate-900">
    <div class="p-6 flex items-center justify-between border-b border-gray-100 dark:border-gray-800">
        <h6 class="text-lg font-semibold">Top Products / Items</h6>

        <a routerLink="#" class="text-slate-400 hover:text-indigo-600 dark:text-white/70 dark:hover:text-white text-[20px]"><i class="mdi mdi-swap-vertical"></i></a>
    </div>

    <div class="relative overflow-x-auto block w-full max-h-[400px]" data-simplebar>
        <table class="w-full text-start">
            <thead class="text-base">
                <tr>
                    <th class="text-start font-semibold text-[15px] p-4 min-w-[150px]">Products</th>
                    <th class="text-start font-semibold text-[15px] p-4 min-w-[100px]">Earnings</th>
                    <th class="text-end font-semibold text-[15px] p-4 min-w-[80px]">Progress</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of topProduct">
                    <th class="text-start border-t border-gray-100 dark:border-gray-800 p-4 font-semibold">{{item.product}}</th>
                    <td class="text-start border-t border-gray-100 dark:border-gray-800 p-4">{{item.earnings}}</td>
                    <td class="text-end border-t border-gray-100 dark:border-gray-800 p-4">
                        <span *ngIf="item.status === 'profit'" class="text-emerald-600 text-sm ms-1 font-semibold"><i class="uil uil-arrow-growth"></i> {{item.progress}}</span>
                        <span *ngIf="item.status === 'loss'" class="text-red-600 text-sm ms-1 font-semibold"><i class="uil uil-chart-down"></i> {{item.progress}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
